# Byte-compiled files
__pycache__/
*.py[cod]

# Environments
.env
.venv
env/
venv/

# Generated output (assignment)
output/
data/enriched_sales_data.txt

# IDE
.vscode/settings.json
.idea/

# Jupyter
.ipynb_checkpoints
